body {
    height: 5000px;
    background: linear-gradient(
      to bottom,
      #5600db,
      #340072
    );
  }
  
  h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 100;
    padding: 25px 15px;
    text-shadow: 1px 1px 1px #333;
  }
  
  #octocat-svg {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 200px;
    height: 200px;
  } 
  
  